/* Colours used by whole site */

.teal {
    background-color: #31b7bc;
}

.dark-teal {
    background-color: #005c6e;
}

.darker-teal {
    background-color: #005161;
}

.light-teal {
    background-color: #b2dddf;
}

.peach {
    background-color: #f08575;
}

.white {
    background-color: white;
}

.teal-text {
    color: #31b7bc;
}

.dark-teal-text {
    color: #005c6e;
}

.darker-teal-text {
    color: #005161;
}

.light-teal-text {
    color: #b2dddf;
}

.peach-text {
    color: #f08575;
}

.white-text {
    color: white;
}