.geometric-bg {
    background-image: url("~@/assets/geometric.png");
}

.auto-overflow-y {
    overflow-y: auto;
}

.auto-overflow-x {
    overflow-x: auto;
}

.whiteText {
    color: white;
}

/* * {
    font-family: "Montserrat-Regular";
} */

@font-face {
  font-family: "Montserrat-Regular";
  src: url("~@/assets/fonts/Montserrat-Regular.ttf") format("font-truetype");
  font-weight: normal;
  font-style: normal;
}